@import "tailwindcss";
@import "./styles/colors.css";
@import "@shared/styles/toast.css";

@import "./styles/auth.css";

.landing {
    background: radial-gradient(ellipse at top,
            hsl(215, 30%, 16%) 0%,
            hsl(215, 28%, 14%) 15%,
            hsl(215, 25%, 12%) 30%,
            hsl(215, 22%, 10%) 45%,
            var(--webpage-background-color) 70%);
}