:root.dark {
    --dashboard-icon-play-default: #6b7280;
    --dashboard-icon-play-hover: var(--focus-color);
    --dashboard-icon-in-progress: #6b7280;
    --dashboard-icon-in-progress-hover: var(--focus-color);
    --dashboard-icon-complete: #22c55e;
    --dashboard-icon-complete-hover: #6b7280;
}

:root.light {    
    --dashboard-icon-play-default: hsl(215, 15%, 40%);
    --dashboard-icon-play-hover: var(--page-header-text);
    --dashboard-icon-in-progress: hsl(215, 15%, 40%);
    --dashboard-icon-in-progress-hover: var(--page-header-text);
    --dashboard-icon-complete: hsl(142, 60%, 45%);
    --dashboard-icon-complete-hover: hsl(215, 15%, 40%);
}
