@import "@shared/styles/colors.css";

:root {
    /* Primary webpage accent color */
    --global-accent-hue: 158;

    /* General Colors */
    --modal-underlay-dark: hsla(0, 0%, 0%, 0.75);

    --background-black-50: hsla(0, 0%, 0%, 0.5);
    --background-black-30: hsla(0, 0%, 0%, 0.3);

    --focus-color-hsl: var(--global-accent-hue), 70%, 42%;
    --focus-color: hsl(var(--focus-color-hsl));
    --focus-color-70: hsla(var(--focus-color-hsl), 0.7);
    --focus-color-30: hsla(var(--focus-color-hsl), 0.3);

    /* Text Colors */
    --text-a-day: hsl(260, 60%, 50%);
    --text-a-day-contrast: hsl(260, 60%, 42%);
    --text-b-day: hsl(215, 90%, 50%);
    --text-b-day-contrast: hsl(215, 90%, 42%);
}

:root.dark {
    /* General */
    --global-accent-hsl: var(--global-accent-hue), 60%, 31%;
    --global-accent: hsl(var(--global-accent-hsl));

    /* Add Item Button Colors */
    --additem-bg: hsl(var(--global-accent-hsl));
    --additem-bg-hover: hsla(var(--global-accent-hsl), 0.8);
    --additem-text: hsl(var(--global-accent-hue), 70%, 37%);

    /* Global Priority Colors */
    --priority-high-bg: hsla(0, 91%, 71%, 0.15);
    --priority-high-border: hsla(0, 91%, 71%, 0.4);
    --priority-high-text: hsl(0, 94%, 82%);

    --priority-medium-bg: hsla(48, 76%, 53%, 0.15);
    --priority-medium-border: hsla(48, 76%, 53%, 0.4);
    --priority-medium-text: hsl(50, 78%, 64%);

    --priority-low-bg: hsla(213, 94%, 68%, 0.15);
    --priority-low-border: hsla(213, 94%, 68%, 0.4);
    --priority-low-text: hsl(212, 96%, 78%);

    /* Global Status Colors (e.g. Done) */
    --status-done-bg: hsla(142, 71%, 45%, 0.15);
    --status-done-border: hsla(142, 71%, 45%, 0.4);
    --status-done-text: hsl(142, 77%, 73%);
}

:root.light {
    /* General */
    --global-accent-hsl: var(--global-accent-hue), 60%, 51%;
    --global-accent: hsl(var(--global-accent-hsl));

    /* Add Item Button Colors */
    --additem-bg: hsl(var(--global-accent-hsl));
    --additem-bg-hover: hsl(var(--global-accent-hue), 60%, 46%);
    --additem-text: hsl(var(--global-accent-hue), 40%, 52%);

    /* Global Priority Colors */
    --priority-high-bg: hsl(0, 60%, 95%);
    --priority-high-border: hsl(0, 60%, 65%);
    --priority-high-text: hsl(0, 60%, 40%);

    --priority-medium-bg: hsl(45, 60%, 92%);
    --priority-medium-border: hsl(45, 60%, 65%);
    --priority-medium-text: hsl(45, 70%, 35%);

    --priority-low-bg: hsl(215, 60%, 95%);
    --priority-low-border: hsl(215, 60%, 70%);
    --priority-low-text: hsl(215, 60%, 45%);

    /* Global Status Colors (e.g. Done) */
    --status-done-bg: hsl(142, 70%, 95%);
    --status-done-border: hsl(142, 70%, 65%);
    --status-done-text: hsl(142, 70%, 35%);
}