@import "@shared/styles/buttons.css";

:root.light {
    --assignment-theme: hsl(280, 38%, 62%);
    --assignment-theme-hover: hsl(280, 38%, 54%);
    --assignment-text-color: hsl(280, 38%, 47%);

    --class-theme: hsl(235, 50%, 69%);
    --class-theme-hover: hsl(235, 50%, 61%);
    --class-text-color: hsl(235, 50%, 54%);

    --event-theme: hsl(119, 20%, 57%);
    --event-theme-hover: hsl(119, 20%, 49%);
    --event-text-color: hsl(119, 20%, 42%);

    --schedule-theme: hsl(203, 40%, 59%);
    --schedule-theme-hover: hsl(203, 40%, 51%);
    --schedule-text-color: hsl(203, 40%, 44%);
}

:root.dark {
    --assignment-theme: hsl(280, 38%, 47%);
    --assignment-theme-hover: hsl(280, 38%, 39%);
    --assignment-text-color: hsl(280, 38%, 47%);

    --class-theme: hsl(235, 50%, 54%);
    --class-theme-hover: hsl(235, 50%, 46%);
    --class-text-color: hsl(235, 50%, 54%);

    --event-theme: hsl(119, 20%, 42%);
    --event-theme-hover: hsl(119, 20%, 34%);
    --event-text-color: hsl(119, 20%, 42%);

    --schedule-theme: hsl(203, 40%, 44%);
    --schedule-theme-hover: hsl(203, 40%, 36%);
    --schedule-text-color: hsl(203, 40%, 44%);
}