@import "@shared/styles/colors.css";

:root {
    --landing-accent-hue: 206;
    --landing-accent-hsl: var(--landing-accent-hue), 63%, 44%;

    --focus-color: hsl(var(--landing-accent-hsl));
    --focus-color-70: hsla(var(--landing-accent-hsl), 0.7);
    --focus-color-30: hsla(var(--landing-accent-hsl), 0.3);
}

:root.dark {
    --global-accent-hsl: var(--landing-accent-hue), 60%, 40%;
    --global-accent: hsl(var(--global-accent-hsl));
    --global-accent-15: hsla(var(--global-accent-hsl), 0.15);
    --global-accent-25: hsla(var(--global-accent-hsl), 0.25);

    --danger-zone-bg-pattern: repeating-linear-gradient(45deg, var(--text-danger) 0, var(--text-danger) 1.5px, transparent 0, transparent 50%);
    --danger-zone-bg: hsla(0, 100%, 60%, 0.04);
    --danger-zone-border: hsla(0, 100%, 60%, 0.2);
    --danger-zone-confirm-delete-shadow: 0 6px 6px -1px hsl(0 100% 60% / 0.15);

    --primary-button-bg: hsl(var(--landing-accent-hsl));
    --primary-button-bg-hover: hsl(var(--landing-accent-hue), 63%, 38%);
}