.custom-scrollbar,
.custom-scrollbar-horizontal {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.custom-scrollbar::-webkit-scrollbar {
	width: 0.5rem;
}

.custom-scrollbar-horizontal::-webkit-scrollbar {
	height: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar-horizontal::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.custom-scrollbar-horizontal::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover);
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
